<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="informatics.uk.ac.ed.track" >

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" > <!-- remove activity from stack so user can't return to it -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResearcherSetup"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StudyConfiguration"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UserAccountSetup"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SetupComplete"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DemoIntro"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DemoFreeText"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DemoMultiChoice_Single"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DemoMultiChoice_Multi"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DemoScale"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UserLogin"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DemoScaleVertical"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".BriefingComplete"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DefaultActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MultiChoice_Multi"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Question_MultiChoice_Single"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Question_LikertScale"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Question_FreeText_Multi"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
